streamlit==1.32.0
mysqlclient
SQLAlchemy
opencv-python==4.10.0.84
numpy
matplotlib==3.7.5
pandas
PyMySQL==1.1.1
scikit-learn 
seaborn==0.13.2
numba==0.59.0
opencv-contrib-python
st-clickable-images==0.0.3
opencv-python-headless 
Pillow==10.4.0
streamlit-drawable-canvas==0.9.3
mysql==0.0.3
mysql-connector-python==9.0.0